[2014-07-23 16:16] gesellix opened #6 "add 'deploy artifact(s)' task"
add a simple mechanism to configure an artifact deployment, e.g. like follows:

[code]

then use a simple task like `deploy` to perform all necessary steps (build, push, pull, stop, rm, run, rmi).

[2015-01-04 13:07] gesellix opened #22 "add 'docker cp' support"
available with docker-client [2015-01-04T13-04-44](https://bintray.com/gesellix/docker-utils/docker-client/2015-01-04T13-04-44/view).

[2015-01-04 13:57] gesellix commented on #22
implemented with gradle-docker-plugin [2015-01-04T13-33-22](http://plugins.gradle.org/plugin/de.gesellix.docker/2015-01-04T13-33-22).

[2015-01-04 13:57] #22 closed

[2015-02-14 20:47] pdwinkel opened #23 "Build fails with gradle's --parallel option"
I've the following task:
[code]

The 'prepareImage' task creates/fills the ${project.buildDir}/imageData directory.

This works correct, but with the --parallel option the build fails:
[code]

I think this fails because the tarBuildcontextForBuildImage does not depend on the 'prepareImage' task. During the build gradle outputs:

[code]

The tarBuildcontextForBuildImage task does not create the tgz

[2015-02-15 08:31] gesellix commented on #23
I guess you're right. I'll look into it.

[2015-02-15 08:49] gesellix commented on #23
@pdwinkel would like to try adding the following line to your build script? If that works for you, I would add the fix to the plugin:

[code]

Thanks!

[2015-02-15 09:13] pdwinkel commented on #23
Yes, that works!

[2015-02-15 14:26] gesellix commented on #23
@pdwinkel the fixed release is available as version `2015-02-15T13-45-26`.

[2015-02-15 14:26] #23 closed

[2015-02-15 17:45] pdwinkel commented on #23
Works. Thx.

[2015-03-11 05:18] dilgerma opened #24 "Don´t repack the docker-context"
If the gradle build-directory is part of the docker context and you don´t do gradle clean between builds, the context gets repacked for every build, which might pretty fast lead to Java-Heap Space Exceptions. Maybe it could be worth to investigate if the build of the docker-plugin could ignore its own artifacts (tar.gz in build/tmp)

[2015-03-12 22:35] gesellix commented on #24
You're right that the plugin currently doesn't handle the gradle build directory in any special way. Your suggestion to recognizing and ignoring former build artifacts isn't so easy to implement, because they're not special to the plugin. Only the build context of the current build is ignored when creating the build context, but that's to not recursively trying to archive itself ;-)

Is it necessa

[2015-03-25 03:43] jtgasper3 commented on #24
I'd beta test the dockerignore feature...

P.S. Great plugin! Thanks for sharing.

[2015-03-26 20:33] gesellix commented on #24
@jtgasper3 thanks! Do you also have an example project with executable files? This is one feature, the Gradle Tar task doesn't seem to support and which I'll have to compensate.

[2015-03-26 21:25] gesellix opened #25 "add .dockerignore support"
don't let the plugin add .dockerignored files to the build context.

[2015-03-26 21:29] gesellix commented on #24
@jtgasper3 I've opened a dedicated issue for the .dockerignore feature, please follow the issue item at #25.

[2015-03-26 21:32] gesellix commented on #25
@jtgasper3 please try the incubating task at `de.gesellix.gradle.docker.tasks.incubating.DockerBuildTask` instead of the usual DockerBuildTask. It should respect your `.dockerignore` contents and also keep any executable flags.
Your help with testing is much appreciated, thanks!

[2015-03-27 20:25] gesellix commented on #25
the relevant release is available as https://plugins.gradle.org/plugin/de.gesellix.docker/2015-03-26T21-23-41

[2015-03-28 22:11] jtgasper3 commented on #25
@gesellix I'm not having success using the new release and excluding directories listed in the .dockerignore file.
Here's my sample build... maybe I'm missing something.

build.gradle:

[code]

Dockerfile:

[code]

.dockerignore:

[code]

In the `large` dir is a large file (150mb). It is continually included in the tar (which is 198 mb instead of almost nothing: `buildContext_test_deleteme/tmp/myL

[2015-03-30 20:03] gesellix commented on #25
@jtgasper3 thanks for your feedback! I could now find and fix the issue with the non-ignored buildContext archive and your "large" file example. Please give the release `2015-03-30T19-03-02` a try (as soon as it's available via plugin portal or use the configuration like https://github.com/gesellix-docker/gradle-docker-plugin-example/blob/master/build.gradle#L17). I've added a dedicated test case

[2015-04-07 23:42] ageorge303 opened #26 "Use question"
We're successfully using the plugin to build and push images from local development boxes to the main docker hub. We can pull those images back down to our local development machines with the plugin. What we need to do is be able to pull those images down to a workstation.

The workstation has just a single user (root), but my docker credentials (from doing docker login for 'ageorge' on that machi

[2015-04-08 06:02] gesellix commented on #25
@jtgasper3 did you already have a chance to test?

[2015-04-08 06:26] gesellix commented on #26
@ageorge303 are the images you're trying to pull in a public or in a private repository? If they're in a public repository you won't need any credentials for a pull. The error looks to me more like a missing default in the plugin. Could you try to set the registry property?
I can have a look at it tonight.

[2015-04-08 07:05] ageorge303 commented on #26
Tobias,
The repo is private on the docker hub.

[2015-04-08 07:06] ageorge303 commented on #26
Registry property?

[2015-04-08 15:58] jtgasper3 commented on #25
@gesellix Thanks for the reminder...

It's closer, but still not at parity with native `.dockerignore`...  With the native support, a directory (and its contents) can be excluded with `dirname` or `dirname/`, but I had to use `dirname/*` to ignore my very large file/directory.

[2015-04-08 20:21] gesellix commented on #25
@jtgasper3 thanks for your patience, the issue should now be fixed with `2015-04-08T22-16-48`, you'll need to change your imports from
[code]

to
[code]

Please give it another try and drop me a short note if it worked, thanks! :)

[2015-04-08 21:30] gesellix commented on #26
@ageorge303 forget the registry property - there's a missing feature to pass your credentials to the pull command. I'll add it asap, probably this week.

[2015-04-09 00:18] jtgasper3 commented on #25
That appears to be working as expected. Nice work!

[2015-04-09 07:13] gesellix commented on #25
@jtgasper3 thanks for beta testing :+1:

[2015-04-09 07:13] #25 closed

[2015-04-09 07:16] gesellix commented on #24
@dilgerma could you try to reproduce the issue using the current release? The build context should now automatically be excluded from your builds and the `.dockerignore` feature has been added for additional excludes.

[2015-04-09 17:03] ageorge303 commented on #26
Wonderful. Thanks.

[2015-04-09 19:39] mmannerm opened #27 "Gradle clean <task> fails, because temporary directory is created at configure phase"
`de.gesellix.gradle.docker.tasks.DockerBuildTask$_configureTarBuildContextTask_closure2.doCall(DockerBuildTask.groovy:66)` calls getTemporaryDir() while configuring the TarBuildContextTask, making the tar-ball file fail on creation (because the directory build/tmp/buildImage is missing, because it got wiped by the `clean`).

You should either use the getTemporaryDirFactory as suggested below, or j

[2015-04-10 11:36] #27 closed

[2015-04-10 18:10] gesellix commented on #27
@mmannerm thanks for filing the issue and your helpful hints, the fix is available with https://plugins.gradle.org/plugin/de.gesellix.docker/2015-04-10T20-09-03

[2015-04-11 20:39] gesellix commented on #26
@ageorge303 please give https://plugins.gradle.org/plugin/de.gesellix.docker/2015-04-11T22-32-01 a  try, an example use case is available at https://github.com/gesellix-docker/gradle-docker-plugin-example/blob/master/push-and-pull-with-auth/build.gradle

The current implementation doesn't allow the plugin to transparently choose your credentials, so that you have to manually configure your tasks.

[2015-04-14 15:10] gesellix opened #28 "generate default tasks"
... given some common config with some properties of:
- inputs like build context dir, artefacts, etc
- dockerfile location
- registry
- image name
- container name
- ...

[2015-04-14 15:11] gesellix opened #29 "add simple task configuration"
for a use case like local development and repeated
* build
* run
* cleanup

[2015-04-14 15:27] SQiShER opened #30 "Exception when trying to use generated task :buildImageForPublishToDockerRegistry"
I was trying to depend on this task in a custom "run" task:

[code]

Unfortunately this results in the following stacktrace:

[code]

[2015-04-15 07:12] gesellix commented on #30
should be fixed with the current release.

[2015-04-15 07:12] #30 closed

[2015-04-16 17:24] ageorge303 commented on #26
Thank you. Works great.

[2015-04-16 20:02] ageorge303 commented on #26
I was able to pull an image to a remote server from the Docker hub. Great!

However, my buildImage task is now broken.
I get the following error:

 Task has not declared any outputs.
docker build
temporary buildContext: /home/ageorge/repos/psb-api/src/generated/server/build/tmp/buildImage/buildContext_xxxx.tar.gz
docker build
using docker at 'unix:///var/run/docker.sock'
:buildImage FAILED
:buildI

[2015-04-16 20:10] ageorge303 commented on #26
ext {
  localDockerHost = "unix:///var/run/docker.sock"
  remoteDockerHost = "http://machine.blah.net:2375"
  ...
}

task buildImage(type: DockerBuildTask) {
  //dependsOn rmImage
  dependsOn copyWARToBuildContext

  dockerHost = localDockerHost
  imageName = appName

  buildContextDirectory = file("./docker/")
}

[2015-04-16 20:33] ageorge303 commented on #26
Caused by: java.net.MalformedURLException: unknown protocol: unix
	at de.gesellix.docker.client.protocolhandler.DockerURLHandler.getURLWithActualProtocol(DockerURLHandler.groovy:57)
	at de.gesellix.docker.client.protocolhandler.DockerURLHandler$getURLWithActualProtocol$0.callCurrent(Unknown Source)
	at de.gesellix.docker.client.protocolhandler.DockerURLHandler.getURL(DockerURLHandler.groovy:30)
	a

[2015-04-17 10:48] gesellix commented on #26
@ageorge303 unix sockets should work, but I'll check them during the weekend. Would you be so kind and open a dedicated issue for this? That would be great, thanks!

[2015-04-18 10:42] gesellix commented on #26
@ageorge303 which jdk and which version do you use? Unix socket support currently relies on the `sun.net.www.protocol.http.HttpURLConnection` class, which is probably only available in the official Oracle JDK.

[2015-04-19 23:43] #26 closed

[2015-04-19 23:46] ageorge303 opened #31 "buildImage fails with unknown protocol error"
I updated from version "2015-03-07T20-17-57" to "2015-04-11T22-32-01".

After doing so, the buildImage task now fails with this error:

"docker build
using docker at 'unix:///var/run/docker.sock'
:buildImage FAILED
:buildImage (Thread[main,5,main]) completed. Took 0.15 secs.

FAILURE: Build failed with an exception.

What went wrong: Execution failed for task ':buildImage'. > java.net.MalformedURL

[2015-04-20 16:11] ageorge303 commented on #31
Correction: I'm using open jdk 1.8.0_31

[2015-04-20 19:38] ageorge303 commented on #31
I tried with Oracle jdk 1.7.0_79, and got the same error.

[2015-04-21 12:12] gesellix commented on #31
thanks, I'll investigate

[2015-04-24 15:28] ageorge303 opened #33 "Pulling to remote server works with http, not https"
Pulling an image from docker hub to a remote server. It works fine when the remote host docker daemon is running thus:
/usr/bin/docker -d -H fd:// -H tcp://0.0.0.0:2375

Attempted to run daemon with https:
curl https://xxxx.yyy.net:2376/images/json --cert ~/.docker/cert.pem --key ~/.docker/key.pem --cacert ~/.docker/ca.pem
Added certificates to /root/.docker (ca.pem, key.pem, cert.pem) and was abo

[2015-04-24 19:23] gesellix commented on #33
can you run it with `-s` to produce a stracktrace? thanks!

[2015-04-24 20:35] ageorge303 commented on #33
* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':deployToServer'.
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:69)
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(ExecuteActionsTaskExecuter.java:46)
	at org.gradle.api.internal.tasks.execution.PostExecution

[2015-04-25 07:58] gesellix commented on #33
could you try the most recent version? It is available at

* bintray: https://bintray.com/gesellix/docker-utils/gradle-docker-plugin/_latestVersion
* plugin portal: https://plugins.gradle.org/plugin/de.gesellix.docker

[2015-04-25 08:01] gesellix commented on #31
I have problems to reproduce the issue in my local environment. On Travis (with Oracle JDK 1.7) sometimes the tests fail, too, but I've added some code to tackle such problems. Could you please try with the latest version (same version as with your https issue :-) )?

[2015-04-26 14:56] gesellix commented on #24
@dilgerma closing for now, if you still experience issues when creating the build context, please re-open this issue or create a new one. Thanks!

[2015-04-26 14:56] #24 closed

[2015-04-26 15:49] gesellix commented on #31
@ageorge303 does the image build always fail on your system? If so, could you help me finding the cause with the following steps?

* `git clone https://github.com/gesellix-docker/docker-client.git`
* `cd docker-client`
* `./gradlew check -Dtest.single=HttpOverUnixSocketIntegrationTest -x integrationTest -i`

The test passes on my Ubuntu 14.04 with OracleJDK 1.7.0_09 and in a Docker container with

[2015-04-27 15:25] ageorge303 commented on #31
That was successful. No errors.

Date: Sun, 26 Apr 2015 08:49:26 -0700
From: notifications@github.com
To: gradle-docker-plugin@noreply.github.com
CC: andrewgeorge1@hotmail.com
Subject: Re: [gradle-docker-plugin] buildImage fails with unknown protocol error (#31)

@ageorge303 does the image build always fail on your system? If so, could you help me finding the cause with the following steps?

git c

[2015-04-27 17:55] ageorge303 commented on #31
I was looking at the --debug information from the version that works for me, and the subsequent ones which don't.
In the versions that don't work for me, it seems to be pulling in this:
kohlschutter.junixsocket

09:36:51.513 [DEBUG] [org.gradle.api.internal.artifacts.ivyservice.resolveengine.graph.DependencyGraphBuilder] Visiting dependency de.gesellix:docker-client:2015-04-25T07-42-12(runtime) ->

[2015-04-27 18:03] ageorge303 commented on #31
Another difference;
Works: 09:35:16.220 [INFO] [de.gesellix.docker.client.DockerClientImpl] using docker at 'unix://localhost/var/run/docker.sock'

Doesn't work: 09:36:57.858 [INFO] [de.gesellix.docker.client.DockerClientImpl] using docker at 'unix:///var/run/docker.sock'

I tried hardcoding to with localhost but it didn't change anything.

[2015-04-28 07:29] gesellix commented on #31
thanks! I added some more logging output and a kind of retry mechanism. could you watch the logs for messages like `could not use the 'unix' protocol` and `retry failed` with the most recent plugin version?

[2015-04-28 09:03] reaperdk opened #34 "No such property: Id for class: de.gesellix.docker.client.DockerResponse"
Hi,

Firstly - great job with gradle docker plugin!

Secondly - since I changed 'de.gesellix.docker' plugin version from "2015-04-15T07-27-27" to "2015-04-25T09-55-20" exec task is not working correctly. I am receving message "No such property: Id for class: de.gesellix.docker.client.DockerResponse". Here is build result with --stacktrace option:

[code]

I think it is wrongly detecting error in e

[2015-04-28 11:10] gesellix commented on #34
thanks for reporting, the issue should be fixed with the just released update :)

[2015-04-28 11:10] #34 closed

[2015-04-28 11:45] reaperdk commented on #34
Thankx :+1:

[2015-04-28 16:11] gesellix commented on #31
@ageorge303 can you post a stacktrace (running the Gradle script via `-s`) please?

[2015-04-28 16:36] ageorge303 commented on #31
Tobias,

I didn't see a 'retry failed' message.
I'm trying to debug this in Eclipse with the Gradle plug-in, to see what is happening when the code works, and what happens when it doesn't.

Attached is stack trace.

Andy

Date: Tue, 28 Apr 2015 00:29:38 -0700
From: notifications@github.com
To: gradle-docker-plugin@noreply.github.com
CC: andrewgeorge1@hotmail.com
Subject: Re: [gradle-docker-plugin]

[2015-04-29 04:35] ageorge303 commented on #31
Tobias,

I installed the gradle and groovy plugins for eclipse. I can run tasks but it's not stopping at my breakpoints. I know you can only set breakpoints in classes. How are you developing your plugin?

Andy

Date: Tue, 28 Apr 2015 09:11:43 -0700
From: notifications@github.com
To: gradle-docker-plugin@noreply.github.com
CC: andrewgeorge1@hotmail.com
Subject: Re: [gradle-docker-plugin] buildImag

[2015-04-29 08:02] gesellix commented on #31
@ageorge303 you can clone the plugin git repository, then build it with `./gradlew build`. If you don't want to run the integration tests, use a command like `./gr`.

Debugging from a build.gradle is quite hard, but you might want to debug through an integration test like that one: https://github.com/gesellix-docker/gradle-docker-plugin/blob/master/src/integrationTest/groovy/de/gesellix/gradle/doc

[2015-04-29 08:07] gesellix commented on #31
I guess you didn't use the most recent version of the plugin, I would have expected the following code with its log messages to be executed in case of a failure: https://github.com/gesellix-docker/docker-client/blob/master/src/main/groovy/de/gesellix/docker/client/protocolhandler/DockerURLHandler.groovy#L67

Please note that the plugin heavily relies on the `docker-client` library (also developed

[2015-04-29 16:29] ageorge303 commented on #31
I don't understand why it's not pulling in your changes.I initially specified the dependency like this:
// works with Gradle 2.1+, for the old configuration see http://plugins.gradle.org/plugin/de.gesellix.dockerplugins {  // buildImage, buildAndPush, runContainer works with this version of the plugin:  //id "de.gesellix.docker" version "2015-03-07T20-17-57"
  // deployToServer works with these ve

[2015-04-30 17:53] gesellix commented on #31
I published a new release with even more debug output. Please try again with the latest version. I have no idea why the debug out didn't appear yet. Since the expected output is logged on warn or error level, I wouldn't suggest to add any options. The new debug output needs the `--debug` flag, though.

Could you please (again) try to execute your tasks, now including the `--debug` flag? Would it b

[2015-05-04 16:41] ageorge303 commented on #31
import de.gesellix.gradle.docker.tasks.DockerInfoTask
import de.gesellix.gradle.docker.tasks.DockerVersionTask
import de.gesellix.gradle.docker.tasks.DockerPublishTask
import de.gesellix.gradle.docker.tasks.*
import static groovy.json.JsonOutput.prettyPrint
import static groovy.json.JsonOutput.toJson

// works with Gradle 2.1+, for the old configuration see http://plugins.gradle.org/plugin/de.gese

[2015-05-05 17:32] ageorge303 commented on #31
Trying to run the example with the latest build:
FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'gradle-docker-plugin-example'.

     Searched in the following locations:
         http://plugins.gradle.org/m2/de/gesellix/docker-client/2015-04-29T21-00-24/docker-client-2015-04-29T21-00-24.pom
         http://plugins.gradle.org/m2/de/gesellix

[2015-05-05 19:20] gesellix commented on #31
thanks for the example project, I now got it reproduced. ... stay tuned. =)

[2015-05-05 21:13] gesellix commented on #31
@ageorge303 well, I guess I found it and I'm going to fix it tomorrow - I need to cleanup some code and add some tests.

[2015-05-05 21:57] ageorge303 commented on #31
Cool beans. What was the problem?
Thanks,
Andy

Date: Tue, 5 May 2015 14:13:35 -0700
From: notifications@github.com
To: gradle-docker-plugin@noreply.github.com
CC: andrewgeorge1@hotmail.com
Subject: Re: [gradle-docker-plugin] buildImage fails with unknown protocol error (#31)

@ageorge303 well, I guess I found it and I'm going to fix it tomorrow - I need to cleanup some code and add some tests.

—

[2015-05-05 21:57] ageorge303 commented on #31
Is issue 33 related?
Date: Tue, 5 May 2015 14:13:35 -0700
From: notifications@github.com
To: gradle-docker-plugin@noreply.github.com
CC: andrewgeorge1@hotmail.com
Subject: Re: [gradle-docker-plugin] buildImage fails with unknown protocol error (#31)

@ageorge303 well, I guess I found it and I'm going to fix it tomorrow - I need to cleanup some code and add some tests.

—
Reply to this email direct

[2015-05-06 05:48] gesellix commented on #31
@ageorge303 this issue isn't #33 related, you might check that one if it works for you now.

Regarding this issue, reason was creating the "unix" URL twice, but only once in a manner the URL class accepted. The "unix" protocol in the docker-client is a kind of a hack, so one has to handle it with care. ;-)

[2015-05-06 06:20] gesellix commented on #31
@ageorge303  a new release is available now, please give it a try :)

[2015-05-06 07:25] ageorge303 commented on #31
Awesome. Thanks. Will try in the morning.

Date: Tue, 5 May 2015 22:48:45 -0700
From: notifications@github.com
To: gradle-docker-plugin@noreply.github.com
CC: andrewgeorge1@hotmail.com
Subject: Re: [gradle-docker-plugin] buildImage fails with unknown protocol error (#31)

@ageorge303 this issue isn't #33 related, you might check that one if it works for you now.

Regarding this issue, reason was c

[2015-05-08 18:39] ageorge303 commented on #31
Sorry for delay.
This is what I got with the May 6th release.
12:36:23.430 [INFO] [de.gesellix.docker.client.DockerClientImpl] using docker at 'unix:///var/run/docker.sock'
12:36:23.448 [DEBUG] [de.gesellix.docker.client.protocolhandler.DockerURLHandler] is 'unix'
12:36:23.478 [WARN] [de.gesellix.docker.client.protocolhandler.DockerURLHandler] could not use the 'unix' protocol to connect to /var/r

[2015-05-08 19:19] gesellix commented on #31
ah, well, can you re-run it with the `-s` parameter? Interesting to me would be the part around the following logs:

[code]

[2015-05-08 21:00] ageorge303 commented on #31
I'm not seeing any of the debug you are expecting to see. I'm obviously running this incorrectly.
I'm just doing a sudo ./gradlew buildImage

with this plugin:
id "de.gesellix.docker" version "2015-05-06T06-17-42"

[2015-05-09 08:15] gesellix commented on #31
this is my log:

[code]

[2015-05-09 08:27] gesellix commented on #31
there are some diffs between our logs:

* another jdk/jre (I'm using Oracle JDK 1.7.0_09)
* other Gradle stacktrace (daemon vs. cli packages)
* after the `... [org.scijava.nativelib.BaseJniExtractor] Extracting 'jar:file:/root/.gradle/caches/modules-2/files-2.1/com.kohlschutter.junixsocket/junixsocket-native-common/2.0.4/726bd66a934dea39c817382986496fa4eda96411/junixsocket-native-common-2.0.4.jar!

[2015-05-09 08:33] gesellix commented on #31
@ageorge303 I assume you're still using openjdk 1.8?
you're running it with `sudo` due to the unix socket access rights?

could you run it again like this, please: `sudo ./gradlew buildImage -s -d`

I would expect to see a stacktrace after the `.so` lib extraction logs...

[2015-05-09 08:34] gesellix commented on #31
@ageorge303 your sudo environment is also using openjdk 1.8?

[2015-05-09 08:35] gesellix commented on #31
@ageorge303 just as a hint to make the logs or code snippets better readable, you can surround them with triple backticks like this:
\`\`\`
any code
\`\`\`

[2015-05-10 11:54] gesellix commented on #31
@ageorge303 please try to change the `buildImage` task to the following (note the `from war` instead of `from 'build/libs':

[code]

[2015-05-16 19:16] gesellix commented on #31
@ageorge303 did you have a chance to check my latest suggestions? thanks!

[2015-05-18 15:10] ageorge303 commented on #31
Hi Tobias,

Sorry, got side-tracked on a different project. Will try today. Thanks again.

Andy
Date: Sat, 16 May 2015 12:16:51 -0700
From: notifications@github.com
To: gradle-docker-plugin@noreply.github.com
CC: andrewgeorge1@hotmail.com
Subject: Re: [gradle-docker-plugin] buildImage fails with unknown protocol error (#31)

@ageorge303 did you have a chance to check my latest suggestions? thanks!

[2015-05-18 15:17] gesellix commented on #31
@ageorge303 no problem!

I added another repository to better discuss the failing build. Please give https://github.com/gesellix-docker/gesellix-docker-plugin-issues a try and try to make it fail. I added a quite generic Dockerfile and I guess your Dockerfile is a bit more complex. Reading your recent logs I would suggest to check its contents more exactly - just to be sure :-)

[2015-05-19 22:35] ageorge303 commented on #31
It worked!

Date: Sat, 16 May 2015 12:16:51 -0700
From: notifications@github.com
To: gradle-docker-plugin@noreply.github.com
CC: andrewgeorge1@hotmail.com
Subject: Re: [gradle-docker-plugin] buildImage fails with unknown protocol error (#31)

@ageorge303 did you have a chance to check my latest suggestions? thanks!

—
Reply to this email directly or view it on GitHub.

[2015-05-19 22:36] ageorge303 commented on #31
Thanks for all your hard work.

Date: Sat, 16 May 2015 12:16:51 -0700
From: notifications@github.com
To: gradle-docker-plugin@noreply.github.com
CC: andrewgeorge1@hotmail.com
Subject: Re: [gradle-docker-plugin] buildImage fails with unknown protocol error (#31)

@ageorge303 did you have a chance to check my latest suggestions? thanks!

—
Reply to this email directly or view it on GitHub.

[2015-05-19 22:57] ageorge303 commented on #31
Tobias,

The build is successful, and my jar file is created.
But still get this in the log:

[code]

Date: Sat, 16 May 2015 12:16:51 -0700
From: notifications@github.com
To: gradle-docker-plugin@noreply.github.com
CC: andrewgeorge1@hotmail.com
Subject: Re: [gradle-docker-plugin] buildImage fails with unknown protocol error (#31)

@ageorge303 did you have a chance to check my latest suggestions? t

[2015-05-20 05:30] gesellix commented on #31
@ageorge303 well, great that it works now :+1:  :-)

The stacktrace is a part of my increased debug log to find reasons for the build problem. I'll remove the stacktrace from the logs with the next release. As a side note: the current implementation has a fallback to manually load necessary classes to add unix socket support to the runtime. It's the underlying error shown by the stacktrace which t

[2015-05-20 05:31] gesellix commented on #33
@ageorge303 this one should be fixed, too.

[2015-05-20 06:03] gesellix opened #35 "minimize log output"
after #31 has been resolved. which is now.

[2015-05-20 06:03] #31 closed

[2015-05-23 13:53] gesellix commented on #35
available with 2015-05-23T15-42-06.

[2015-05-23 13:53] #35 closed

[2015-05-23 13:54] gesellix commented on #33
@ageorge303 closing for now, if you still get the same problem, just reopen this issue. Thanks!

[2015-05-23 13:54] #33 closed

[2015-06-04 21:27] ageorge303 opened #36 "buildImage not working again"
The buildImage task is not working again. I'm using this
id "de.gesellix.docker" version "2015-05-25T16-45-10".
In the past, I was able to use  version "2015-03-07T20-17-57", but this version doesn't work now either.

From the log file:
[code]

[2015-06-05 04:18] #36 closed

[2015-06-05 04:18] ageorge303 commented on #36
Please delete. Idiocy abounds. :)

[2015-08-24 07:15] gesellix commented on #6
most of this has now been added via the `DockerContainerTask`: #37

[2015-11-04 20:53] gesellix opened #38 "simplify the DOCKER_CERT_PATH configuration"
allow to use task properties like already available for the `dockerHost`.

see https://github.com/gesellix/docker-client/issues/23 for some preliminary work.

[2016-01-06 10:19] ysb33r opened #39 "Comments about DockerPlugin.groovy"
I would like to make some points regarding the block of code that is around https://github.com/gesellix/gradle-docker-plugin/blob/master/src/main/groovy/de/gesellix/gradle/docker/DockerPlugin.groovy#L22

1. Use of `withType` will only work if the tasks already exist at that point. It is usually combined with a `whenTaskAdded`.
2. Pushing defaults from an extension into a task is not good practice.

[2016-01-06 13:01] ysb33r opened #40 "Too much logging in --info mode"
When using --info, too much of the low-level logging is showing up. For instance here is the output for a `DockerContainerTask`

[code]

I would suggest changing the above to debug mode and rather just output something like the following at info level.

[code]

[2016-01-06 13:05] ysb33r commented on #40
A second option could be to allow the script author to control the logging on a per-task basis. The core `Test` task is a good example to draw from.

[2016-01-06 13:15] ysb33r opened #41 "Support certPath in extension"
It would be useful to be able to set the certificate path in the `docker` i.e.

[code]

[2016-01-06 20:30] gesellix commented on #41
note to self/todo: pass the configured `certPath` to the underlying docker-client library.

[2016-01-06 20:35] gesellix commented on #38
#42 already added a new `certPath` property to the extension.

[2016-01-06 20:36] gesellix commented on #41
closing in favour of the older #38.

[2016-01-07 23:06] gesellix commented on #38
the `certPath` is available now (plugin version `2016-01-07T23-59-30`) to override the default environment variable.

[2016-01-07 23:06] #38 closed

[2016-01-07 23:08] gesellix commented on #41
@ysb33r you can try the fresh release `2016-01-07T23-59-30` now. If anything's is still missing feel free to leave a note here or to create a new issue. Thanks!

[2016-01-08 00:09] ysb33r commented on #41
There is actually still a bug and it relates to what I mentioned in #39. I'll do a PR for a change to `DockerTask` to rectify that when I get the chance - probably Monday (unless I get to code it up at the airport).

[2016-01-08 22:49] gesellix commented on #41
If you like, you can send me a build.gradle snippet so that I can reproduce the issue. Are you creating the tasks via Gradle rules?

[2016-01-08 22:51] gesellix commented on #39
1. you mean, it's a simple "replace `withType` with `whenTaskAdded`"?
2. I thought conventions were internal or deprecated api, but I'll have a look into it.

Thanks for the heads-up!

[2016-01-10 14:12] ysb33r commented on #39
You need both - the one acts upon tasks that already exist, the other triggers when tasks are added. The type, however has to be exact - inheritance does not count. For instance if `VersionTask` inherits from `DockerTask`, and your trigger is only for `DockerTask`, adding a new `VersionTask` will not invoke the action. (unless this behaviour has changed recently, this is my understanding).

I thou

[2016-01-10 14:14] ysb33r commented on #41
This might be enough to get you going.

[code]

[2016-01-10 15:21] gesellix commented on #41
After adding some braces around the `Version =~ /^1\.9\./` matcher it seems to work as expected. Do you have a stacktrace?

code snippet with braces:

[code]

[2016-01-10 20:41] ysb33r commented on #41
[code]

It complains about that location not being found eventhough I told it to look somewhere else.

[2016-01-11 00:07] gesellix commented on #39
Alright, good to learn something new!

Closing after https://github.com/ysb33r/gradle-docker-plugin/commit/7c12d31e8d452c5ab304ecbd3588fc363802d6c4 has been merged.

[2016-01-11 00:07] #39 closed

[2016-01-11 00:10] gesellix opened #44 "check flaky DockerContainerTaskSpec"
`DockerContainerTaskSpec > healthcheck on already running container` often breaks - timing issues?

[2016-01-11 09:11] gesellix commented on #41
@ysb33r thanks, I found the issue - apart from the certPath not being passed down to the SSL config, I obviously missed a test case for that one.

[2016-01-11 23:12] gesellix commented on #41
@ysb33r this one should be fixed now with `2016-01-12T00-02-26`.

[2016-01-12 19:41] ysb33r commented on #41
Confirmed that it did.

[2016-01-12 19:41] #41 closed

[2016-01-12 20:04] ysb33r opened #45 "Comments about DockerBuildTask"
Whilst working with an instance of this task I came across some style things.

**buildContextDirectory**: I wanted to do

[code]

however it forces me to create a `File` object either via `file` or `new File`. A better style for scalar `File` properties is to do.

[code]

This approach allows for lazy evaluation as in my example above where I might have wanted to delay the setting of `buildDir`.

[2016-01-12 20:22] gesellix commented on #45
alright, I'll apply the proposed changes - similar style improvements are certainly possible in the other tasks... thanks for the heads-up!

[2016-01-12 21:41] ysb33r opened #46 "Allow different location for Dockerfile"
**Primary**: The docker cmdline allows for `-f` to have the Dockerfile at a location other than the context directory. Similar functionality would be very very useful in the plugin as it allows for `Dockerfile` to be static and then the `buildContextDirectory` to reside in `buildDir`.

**Secondary**: The above functionality will then also allow for an auto-generated Dockerfile to be used. Some of

[2016-01-13 22:27] gesellix commented on #40
version `2016-01-13T23-15-28` gives you much less logs on info level, I'll still have to re-word some messages...

[2016-01-13 22:27] #40 closed

[2016-01-13 22:40] gesellix commented on #46
Please try version `2016-01-13T23-15-28`. It allows you to configure the query parameters when the whole build context is uploaded to the Docker builder. See https://github.com/gesellix/gradle-docker-plugin/blob/581badb351f9b7eefb7a2cffd862d294b96f120d/src/test/groovy/de/gesellix/gradle/docker/tasks/DockerBuildTaskSpec.groovy#L118 for an example. Please note: `[rm:true]` is the default, so don't f

[2016-01-14 21:26] ysb33r commented on #46
Great, that's a good start. I think having the flexibility in there allows the script author to manipulate things at a lower level when the plugin does not offer support at DSL level. Obviously I would still like to see the support at high-level, but I can at least play around with it at this level.

As to the secondary case:

* I concur that having version-controlled Dockerfile is a good idea, an

[2016-01-14 21:51] ysb33r commented on #46
This was a great idea. It makes building containers a lot easier. (No need for an instance of a `DockerRmiTask` in most build scripts.)

[2016-01-14 21:54] gesellix commented on #46
It's the official Docker client's default - it only has an effect on the intermediate containers which are created during the build of each layer, see [the docs](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.21/#build-image-from-a-dockerfile) for all details.

[2016-01-14 22:30] gesellix commented on #46
Lets keep this issue opened for a more convenient way of building images from a custom Dockerfile and add a new issue for the templated/generated Dockerfile. Would you like to add another issue, by describing some kind of desired example task? A bit late for Christmas presents, but you may tell me your wishes ;-)

[2016-01-14 23:31] ysb33r opened #47 "Setting environment for DockerContainerTask"
This might apply elsewhere, but I came across it whilst specifying the environment. Currently one has to
do

[code]

It would be more idiomatic to be able to be able to do

[code]

The three slides starting here http://www.slideshare.net/ysb33r/idiomatic-gradle-plugin-writing-56121903/16?src=clipshare are from I've written about this kind of approach before. If I get time, before you do I might cr

[2016-01-14 23:32] ysb33r commented on #46
I'll take care of that.

[2016-01-25 21:05] ysb33r opened #48 "Seemingly an issue with build + push"
This has been reproduced with `2016-01-13T23-15-28`. In this scenario I have docker listening on `192.168.99.100:2376`, but I have a registry running on `192.168.99.100:5000`. I am building a container `foo/bar` with version (tag) `0.5`.

The error that I am seeing is
[code]

A stripped down `build.gradle` contains:
[code]

[2016-01-25 21:09] gesellix commented on #48
the registry has to be configured only with hostname and port, so please try the following:

[code]

[2016-01-25 21:11] ysb33r commented on #48
Same issue
[code]

[2016-01-25 21:11] gesellix commented on #48
Running a private registry implies that you have to configure either the registry to serve via TLS (so you have to configure a certificate for the accessed hostname/domain), or you can allow the docker engine to communicate insecurely with the registry.
There's one exception: when accessing the registry as `localhost:5000`, the docker engine accepts an insecure connection without further configura

[2016-01-25 21:13] gesellix commented on #48
so, question is: did you configure the registry to serve a certificate or did you configure the engine to accept an insecure registry? See https://docs.docker.com/registry/deploying/#running-a-domain-registry and https://docs.docker.com/registry/insecure/ for details.

[2016-01-25 21:17] gesellix commented on #48
I'm actually working on a similar issue, see https://github.com/gesellix/gradle-docker-plugin-example/issues/6

There are different variants, which I'm going to verify:

- [ ] push to the official registry
- [ ] push to a registry at `localhost`
- [ ] push to a registry at `some-hostname`

[2016-01-25 21:43] ysb33r commented on #48
WHat about testing a host that only contain IP address?

[2016-01-25 21:43] ysb33r commented on #48
ANyway I have just set up an insecure registry and I am still seeing the same problem.

[2016-01-25 21:54] ysb33r commented on #48
Also to add, my failures have all been against Docker v1.9.1. I have not tested against any other version.

[2016-01-25 22:07] gesellix commented on #48
I'm not sure if `127.0.0.1` is recognised as `localhost`, but I would expect that any other value (ip or name) would be regarded as non-local and in need for TLS.

So, I assume you changed the docker config in docker machine/boot2docker and restarted the daemon?

Could you have a look at the `/var/log/docker.log` in boot2docker? You can also run the Gradle build with `--debug` mode enabled.

I loc

[2016-01-25 22:28] ysb33r commented on #48
Maybe the issue is related to the fact that I am trying to push image `bar` into repository `foo` with tage `0.5`. I don't think the client code handles that correctly as according to the API `repo=foo` should be part of the query string. Currently `foo/bar` ends up in the path rather than jusy `foo`.

[2016-01-25 22:51] gesellix commented on #48
Which api docs/ api version are you referring to? There had been some errors in the docs (due to historical reasons), which should now be corrected. AFAIK is the registry with the port a part of the path, since the repository name is taken as a whole identifier.

You could verify that by configuring the registry to be at `localhost`, which is still correct for your setup, since the registry is run

[2016-01-31 23:05] gesellix commented on #48
@ysb33r did you make it work? I didn't have a chance to check with a private registry used at non-localhost, yet.

[2016-01-31 23:08] ysb33r commented on #48
Not yet, will try again in the next two weeks.

[2016-04-14 16:11] adamjmarkham opened #49 "Running DockerContainerTask as specific user"
Great plugin, but I have come across this issue i'm not able to get past.

I want to specify the user to run a DockerContainerTask as. On OS X from gradle it seems to run as a "daemon" user. I'm running gradle as this user "adammarkham"

On the command line I would do something like: `docker run -uroot`

Is there an equivalent config I can use in the DockerContainerTask?

[2016-04-14 19:42] gesellix commented on #49
Thanks!

Can you explain in detail on which side you'd like to set the user? The `docker run -u <user>` parameter specifies the user _inside_ the container. This means that it is irrelevant under which user Gradle is running and it doesn't matter whether Gradle runs in daemon mode or in the foreground.

If you want to specifiy the user inside the container, there's currently no option available in

[2016-04-21 22:25] Hartimer opened #50 "r"

[2016-04-21 22:25] #50 closed

[2016-04-22 07:31] gesellix commented on #50
;-)

[2016-04-22 22:45] Hartimer commented on #50
Too many shortcuts :( Sorry about that

[2016-06-19 12:21] gesellix opened #51 "adapt remote api v1.24 (Docker 1.12)"
see https://github.com/gesellix/docker-client/issues/29

[2016-06-20 20:28] gesellix commented on #51
ok, let's try to implement tasks achieving this one from the [official announcement](https://blog.docker.com/2016/06/docker-mac-windows-public-beta/):

[code]

[2016-06-20 20:34] pedrro opened #52 "How to delete a docker volume when stop/delete a container?"
Hey guys, I'm using that plugin in a large scale application, but I'm having problems with volume, unfortunately, when I execute the dockerRmTask or DockerStopTask, it's not deleting the volumes of containers.

Exist some way to do that or it's like a feature request for the plugin?

[2016-06-20 20:51] gesellix commented on #52
Hi, the volumes won't automatically removed (just to be safe). There's also no convenient task to help you with that (see https://github.com/gesellix/gradle-docker-plugin/blob/master/roadmap.md#volumes).
So the answer is: it's a feature request :-)

I would need some more details: do you create your volumes by creating volume containers?

[2016-06-20 21:05] pedrro commented on #52
Yes, every time that a container is created, also a volume is create for this container, the problem is that when a container is deleted, isn't deleting the volume, so, is add a lot of space to my hard disk :D

The command that I run to remove the containers is: `docker volume rm $(docker volume ls -qf dangling=true)`

[2016-06-20 21:29] gesellix commented on #52
Are you fancy to give some quick hack a try?
I added some new tasks to the newly published version `2016-06-20T23-19-27` (https://plugins.gradle.org/plugin/de.gesellix.docker).

The integration test at https://github.com/gesellix/gradle-docker-plugin/blob/master/src/integrationTest/groovy/de/gesellix/gradle/docker/DockerPluginIntegrationTest.groovy#L306 should show you how to manage volumes withou

[2016-06-20 21:31] gesellix commented on #52
a side note: there's already a `DockerCleanupTask`, which removes all stopped containers, and dangling images. Would you like it to also remove dangling volumes?

[2016-06-20 22:42] gesellix commented on #52
I renamed both new tasks to be more consistent with the other ones. Please use the new release `2016-06-21T00-41-11`.

[2016-06-21 13:30] pedrro commented on #52
I think that this is the best approach for the application, could you do that?

[2016-06-21 22:42] gesellix commented on #52
Yes, with the most [recent version](https://plugins.gradle.org/plugin/de.gesellix.docker) of the plugin you can cleanup exited containers, dangling images, and optionally dangling volumes.

See https://github.com/gesellix/gradle-docker-plugin-example/blob/5503a4864d48f002e9d0449a552f8e0acb8e1ff3/build.gradle#L56 for an example. It only logs container and volume candidates for a deletion, but actua

[2016-06-22 13:42] pedrro commented on #52
Awesome, I'll take a look on that and bring some feedback! Thanks @gesellix

[2016-06-23 17:44] pedrro commented on #52
Hi @gesellix, I tried the same function that u used on example, but passing false to **shouldKeepVolume** variable and I'm getting the following error:
`request failed: 'get null: no such volume`

Below an example of volume output that I had on the task:
`volume : [Driver:local, Labels:null, Mountpoint:/var/lib/docker/volumes/a40f66dd58edc05d6cb096871abd8750ad8a683c6ae1987e68982d7f46e26855/_data,

[2016-06-23 17:52] pedrro commented on #52
Now, I changed the task a little to:
[code]

The task now is passing, but not removing volumes

[2016-06-23 17:55] gesellix commented on #52
Can you run the last example with an additional `--info` on the command line? It should then show detailed output of which docker actions are called. If any.

[2016-06-23 17:58] pedrro commented on #52
@gesellix here the outputs:
[code]

[2016-06-23 18:26] pedrro commented on #52
Now printing the volumes:

[code]

Looks like it isn't passing the id of volume to docker command.

[2016-06-23 18:28] gesellix commented on #52
ok, thanks - I'll try to reproduce it on my machine. Can you check the output of `docker volume ls`, please? the `3594ce3fe3c` volume should appear there. Then, you can also get more details with `docker volume inspect 3594ce3fe3c`. The last command would help me to create a similar volume locally.

[2016-06-23 18:34] pedrro commented on #52
Strange, the volume appear on docker volume ls, but, when I use the inspect, I got the error *no such volume*

[2016-06-23 18:38] gesellix commented on #52
now we're talking ;-)

[2016-06-23 18:39] gesellix commented on #52
ok, let's dig deeper: are you on Linux or on Mac? If Mac, using xhyve or Machine/VirtualBox?

[2016-06-23 18:39] pedrro commented on #52
Mac, using docker for mac beta

[2016-06-23 18:46] pedrro commented on #52
So, I deleted all the dangling volumes and put another container to run and I got the same error.

[code]

[2016-06-23 18:47] gesellix commented on #52
can you post the container creation commands?

[2016-06-23 18:49] pedrro commented on #52
[code]

[2016-06-23 18:51] gesellix commented on #52
thanks, I'll try to reproduce...

[2016-06-23 19:01] gesellix commented on #52
next one: can you print the output of this: `docker inspect  -f "{{json .Mounts }}" MONGO_CONTAINER_ID`? The volume id in question should appear there.

[2016-06-23 19:03] gesellix commented on #52
I assume the Mongo container is still running when you're trying to cleanup your storage, correct? In other words: the volume shouldn't be considered to be dangling. Maybe it's not one of the Mongo container volumes.

[2016-06-23 19:08] gesellix commented on #52
maybe it helps to show the debug output with `--debug`. then we'll see the failing request including the volume id.

[2016-06-23 19:16] gesellix commented on #52
ah, now I also have it reproduced. investigating...

[2016-06-23 19:19] pedrro commented on #52
Output of **docker inspect -f "{{json .Mounts }}"**
[code]

When I tried  to run the task, the container was not running...

[2016-06-23 19:27] gesellix commented on #52
ok, I found it. my bad... I'll ping you when the release train reaches the plugin portal.

[2016-06-23 19:41] gesellix commented on #52
please use the current release `2016-06-23T21-39-11`. It should now work as expected.

a little background: the plugin tried to delete a volume by its `Id`. Sadly, volumes only have `Name`, which is why it tried to remove a volume named `null`.

[2016-06-23 19:56] pedrro commented on #52
Awesome job @gesellix, now is working, thanks for all support provided!

[2016-06-23 19:56] #52 closed

[2016-06-23 19:57] gesellix commented on #52
thanks for your patience @pedrro!

[2016-06-23 21:00] imshashank opened #54 "Plugin doesn't work with "Docker for Mac""
I upgraded to docker for mac and getting this error->

[code]

Do u know what I need to change to make this work with Docker for Mac ?

[2016-06-23 21:04] gesellix commented on #54
The part with `unix://socket/containers...` looks surprising to me, on a default installation it should look like `unix://var/run/docker.sock`:

- did you try the most recent plugin release?
- is your `DOCKER_HOST` environment variable set? It shouldn't be set anymore under Docker for Mac.

To get more details, please run your task with `-i -s` and post the output with the error and stacktrace her

[2016-06-23 22:53] gesellix commented on #49
@adamjmarkham do you still have the described issue?

[2016-07-04 06:04] maratfdrv opened #55 "Plugin doesn't work if exists .docker folder without certs. It try uses https instead http"
Plugin doesn't understand empty DOCKER_TLS_VERIFY env variable.
Plugin understands  DOCKER_TLS_VERIFY = 0  but it this case console line tool tries to use default cert files.

system ubuntu 14.04
log

01:55:14.251 [DEBUG] [de.gesellix.docker.client.protocolhandler.DockerURLHandler] dockerCertPath=/root/.docker
01:55:14.252 [DEBUG] [de.gesellix.docker.client.protocolhandler.DockerURLHandler] certsP

[2016-07-04 07:33] gesellix commented on #55
What do you expect? With `DOCKER_TLS_VERIFY = 0` you advice the tools to enable TLS, so they'll search for the certificates. It also seems like you're using a `DOCKER_HOST` with the TLS port 2376. Is the error that the plugin doesn't use the certs when `DOCKER_TLS_VERIFY = 0`?
Or do you expect the plugin to disable TLS when `DOCKER_TLS_VERIFY` is empty/missing _and_ the certs are missing?

[2016-07-04 20:30] gesellix commented on #54
@imshashank did you make it work?

[2016-07-04 20:37] gesellix commented on #49
@adamjmarkham closing now due to missing feedback. Feel free to add further comments.

[2016-07-04 20:37] #49 closed

[2016-07-06 11:14] pedrro commented on #54
I found a issue with plugin and new release of Docker for Mac, I'll bring more information.

[2016-07-06 17:45] gesellix commented on #54
great thanks!

[2016-07-13 21:25] gesellix commented on #55
closing - please reopen when you have more details. Thanks!

[2016-07-13 21:25] #55 closed

[2016-08-01 22:55] gesellix commented on #54
closing due to missing feedback.

@imshashank please re-open if you have more details
@pedrro please file a new issue if you have another error

[2016-08-01 22:55] #54 closed

[2017-01-02 17:50] #28 closed

[2017-01-05 21:43] draeron opened #56 "context build doesn't support exclamation mark in .dockerignore"
As per the specification here : https://docs.docker.com/engine/reference/builder/#/dockerignore-file

For example, this should exclude all files but include the Dockerfile and a jar file.
[code]

right now this will give you this message because it doesn't seems to support the exclusion.
`:buildImagerequest failed: [Cannot locate specified Dockerfile: Dockerfile]`

[2017-01-09 00:17] gesellix commented on #56
@draeron would you like to give the latest release a try?

[2017-01-09 19:41] draeron commented on #56
i created a sample project to test it out... it doesn't seems to work. I get a ` This archives contains unclosed entries.`.

https://github.com/draeron/helloworld/tree/gradle-docker-plugin

Note: be sure to take the `gradle-docker-plugin` branch

[2017-01-09 21:48] gesellix commented on #56
Please see the log output below: it works for me with a clean clone of your example repo.
Can you show me your logs, maybe running with enabled info level like this: `./gradlew image -i -s`?

[2017-01-09 21:52] gesellix commented on #56
Uhm. Nevermind. I just had a look into the temporary build context archive and it contains even the `.git` directory. Stay tuned, I'll look into it.

[2017-01-09 21:53] draeron commented on #56
good to know you saw something.. anyway if that migth help you, here's my log :

[code]

[2017-01-09 22:02] draeron commented on #56
btw putting a double start (**) instead of a single one seems to work. Another thing, looks like the buildContext tar file is kept open by the gradle daemon, is this normal ?

[2017-01-11 20:16] gesellix commented on #56
Maybe the archive being unclosed is some Windows specific issue?
Can you show more detailed logs by running with _INFO_ level and also adding stacktraces like below?

    ./gradlew image --info --stacktrace

[2017-01-13 18:34] draeron commented on #56
Here's the log with the _2017-01-02T18-10-48_ version. the _buildContext_helloworld.tar.gz_ doesn`t seems to contain any file.

[code]

[2017-01-13 18:51] gesellix commented on #56
`request failed: [Cannot locate specified Dockerfile: Dockerfile]`

[2017-01-13 19:00] gesellix commented on #56
- you reverted the Gradle Docker plugin version to `2017-01-02T18-10-48`, which didn't include necessary fixes. The version `2017-01-09T01-11-27` works better.
- with the `.dockerignore` to exclude only '*', the subdirectories like `.git` will be included in the build context. So I guess what you want is the previous line with '**'.
- backslashes didn't work for me

I'm going to make a try on Wind

[2017-01-13 19:30] gesellix commented on #56
here is my log for the updated helloworld example project (https://github.com/gesellix-docker/helloworld/tree/50e49e3ca37cc560ad7503086962e072e62e55a9):

[code]

The resulting image works as expected:

[code]

[2017-01-13 19:30] gesellix commented on #56
Can you check again on your machine using my version at https://github.com/gesellix-docker/helloworld/tree/50e49e3ca37cc560ad7503086962e072e62e55a9 ?

[2017-01-13 19:36] gesellix commented on #56
hm, I guess you're also working on your branch, I'll have to rebase :-)

[2017-01-13 19:48] gesellix commented on #56
@draeron the commit at https://github.com/gesellix-docker/helloworld/tree/1a7088e3cdd6c0646e82e212fe6137f8baeb3116 works for me on Windows 10. I created a [PR](https://github.com/draeron/helloworld/pull/2) for the necessary plugin update.

[2017-05-28 13:32] gesellix commented on #56
Closing - feel free to re-open if something isn't working as expected.

[2017-05-28 13:32] #56 closed

[2017-06-08 10:59] schup opened #58 "Invalid name when using GString in docker run"
When using a dynamic string for the containerName of the DockerRunTask an invalid URL gets generated for the create. It seems like the GString is treated as an array of characters.

Gradle version: 3.5
Gradle plugin version:  "2017-06-03T19-45-06"

Example:
[code]
leads to
[code]

Explicitly converting the GString to a string works around this problem.

[code]

[code]

[2017-06-19 20:15] gesellix commented on #58
Sorry for the delay... Please give the current release a try with version 2017-06-19T22-12-00 from https://plugins.gradle.org/plugin/de.gesellix.docker.

[2017-06-19 20:15] #58 closed

[2017-06-21 13:15] schup commented on #58
Thanks Tobias,
I've tested with the new version and it's working now.

Thanks for the update.

[2017-06-26 09:46] gamma opened #59 "DockerPublishTask and tagging"
There seems to be an issue with tagging from a DockerPublishTask with the current version.

Up to now I was able to do the following:

    task buildImage(type: DockerPublishTask) {
        imageName = "my/image"
        imageTag = 'latest'
        buildContextDirectory = file('./docker/')
        targetRegistries = [
            dev: "registry:5000"
        ]
    }

It would now tag the image wit

[2017-06-26 17:01] gesellix commented on #59
The publish task only temporarily tags your images for publishing them to a registry. Afterwards, the registry specific tags will be removed. Are you only missing those temporary images, but the publish itself succeeded? If you want to keep those tags, you'll need to manually configure every step (build, tag, push) as dedicated task.

This example worked for me as expected:

    docker run --rm -d

[2017-06-27 05:11] gamma commented on #59
Ok, it might some confusion on my side here ;)
It works as advertised ... but the thing that got me started is: I had an image

    registry:5000/my/image:latest

I build the new image - untagging the existing image to

    registry:5000/my/image:<none>

and having the "new" image

    my/image:latest

I was pretty sure that it behaved differently before ... did it not?

[2017-06-27 06:15] gesellix commented on #59
Yeah, I guess that's an area where others are confused, too: There's actually no "untag" in Docker, but tags will be removed via `docker rmi ...` - which is a two step operation with:

- remove tag
- check whether "untagged" layers don't have any tag anymore, and if so, remove those layers, too.

So, setting a tag like `registry:5000/image:<none>` doesn't "free" the image from its tag.

The part w

[2017-06-27 06:25] gamma commented on #59
Uhm ... looks like a misunderstanding ...
The registry:5000 is not removed which is clear. The tag being "removed" is clear due to retagging the newly build image. What I was wondering about is that I end up with two images: the original one, being untagged now - and the new one without the repository part.

So:

  * I have an image in docker:
    * `repository:5000/my/image:latest` with hash (e.g

[2017-06-27 07:28] gesellix commented on #59
Ah, alright. Can you tell me where the first images comes from? Did you manually create/tag it or did the plugin create it initially? I guess the plugin shouldn't touch the `<none>` on that image with hash `123456`.
The other new one with hash `654321` is kept for caching of subsequent builds, but maybe I should add some more documentation for such a behaviour.

[2017-06-27 07:53] gamma commented on #59
Ok, that would make sense. I probably created the initial image by hand. Otherwise I would have stumbled over the current issues a lot earlier ;)

I checked my script again and changed it per your description. Unless you see something that is to be done, this issue can be closed.

[2017-09-04 06:52] #59 closed

[2017-11-15 13:30] upcFrost opened #62 "Build tag not assigned"
Hi,

I've spotted some strange behaviour when building new image. When i first run the build, the tag is not set (defaults to \<none\>). On the second run, if no changes were made, the tag is added as it should be. Not sure if that's a bug, or I missed something in config.

My gradle task looks like this
[code]

Docker v17.05.0-ce, gradle v4.3

[2017-11-15 16:00] upcFrost commented on #62
After reading the code a couple of times tried removing imageId. Still the same problem. Info output says

which is quite strange

[2017-11-15 16:05] upcFrost commented on #62
Sorry for spamming, but I've found why it fails. I have a couple of python wheels being built in Dockerfile. It reports:

And the imageId retrieval code is:
[code]

The first message shadows the last one, which actually contains the real image ID. If rebuild is fired, there's no need to rebuild wheels (cached), so there's no such message anymore

[2017-11-15 22:37] gesellix commented on #62
Hey, thanks for debugging, that helps a lot.
Yes, please feel free to provide a PR, much appreciated! I also tried to find a more deterministic way of finding the imageId and after a look into Docker's sources I came up with this one:

[code]

I'm a bit uncertain whether to keep the old code as fallback instead of throwing an exception. What do you think?

[2017-11-15 23:01] gesellix commented on #62
Sidenote: you shouldn't set the `imageId` in your task, it is used as build result output. Looks like I need to add Gradle's `@Output` annotation to that property :-)

[2017-11-16 09:16] upcFrost commented on #62
Not sure what `chunk.aux?.ID` should do as there's no `aux` tag in the output (at least I can't see one).

I've tried to come up with some solution also, but it seems to me that the only possible way is just to reverse `chunks` and use the same code as before, maybe with some length/allowed chars check.

In any case, even though Image ID retrieval should still be done somehow, won't it be better t

[2017-11-16 22:46] gesellix commented on #62
There's more in a response than only the `stream` messages. In this case the original Docker code uses exactly that `aux.ID` property to retrieve the resulting image id. There's only one aspect, where I didn't go into detail, yet: I don't know from which Docker api version that `aux` field is sent in a response. So I'm with you to simply keep the old code for the time being with the only fix to re

[2017-11-20 12:23] gesellix commented on #62
@upcFrost I'll close this issue, because the other topic we discussed needs to be fixed in the underlying docker-client library. See the just created issue https://github.com/gesellix/docker-client/issues/58.

[2017-11-20 12:23] #62 closed

[2017-12-28 21:41] gesellix opened #64 "dockerHost inconsistency between DockerEnv and httpClient"
See https://github.com/gesellix/docker-client/issues/61.

The `DockerTask` doesn't pass the `DockerEnv` via constructor when creating a new `DockerClientImpl`, but using Groovy named parameters. The DockerClient doesn't handle that case, yet.

[2017-12-28 21:48] #64 closed

[2017-12-28 21:49] gesellix commented on #64
Fixed with https://plugins.gradle.org/plugin/de.gesellix.docker/2017-12-28T22-48-35

[2017-12-29 16:49] grubers opened #65 "Docker image is built locally even though remote dockerHost is set"
I recently encountered an interesting behaviour when attempting to build docker images on a remote `dockerHost`. I noticed that I was able to build docker images on the remote docker host, even when the remote docker host was not reachable over the network. Further analysis revealed that the images were actually built locally. `dockerHost` was set correctly for `DockerBuildTask` in gradle (4.3.1).

[2017-12-29 17:12] grubers commented on #65
What a coincidence: I discovered and analyzed it two days ago, but just reported it before. It's a duplicate of https://github.com/gesellix/gradle-docker-plugin/issues/64 (reported yesterday) and resolved :)

[2017-12-29 17:12] #65 closed

[2017-12-29 19:28] gesellix commented on #65
Hey, thanks for the detailed bug description and also for digging deep into the source code!
Yeah, coincidentally this bug has just been fixed and I also ensured that the relevant code path will handle both cases (dedicated constructor vs. named parameters) correctly.
Sorry for the inconvenience! :)

[2018-03-02 22:11] ecsousa opened #67 "DockerContainerTask volumes doesn't work on Windows"
DockerContainerTask checks that, in case of two ":", third part must be "ro"

However, on a Windows machine, volume instruction follows the pattern:

[code]

As we have two ":" chars on the string, `DockerContainerTask ` check fails although it shouldn't.

[2018-06-26 13:33] jmorales2718 opened #68 "Push to aws failing"
Hi  Tobias,
I've read two similar issues [48](https://github.com/gesellix/gradle-docker-plugin/issues/48) and [6](https://github.com/gesellix/gradle-docker-plugin-example/issues/6), but neither really covers what I am working on.

In issue 48, you mentioned that you'd verified pushing to the official registry and localhost, but not private registries found at `some-hostname`. I am currently trying

[2018-06-26 15:33] gesellix commented on #68
Hi John, can try to tag the image first so that it contains the complete repository name? Instead of `foo` you could try `aws_account_id.dkr.ecr.region.amazonaws.com/foo` as `imageName` in your `buildFooImage` task. There's a `DockerTagTask` available, too.

[2018-06-26 17:59] jmorales2718 commented on #68
That seems to have helped because I no longer get the same error. Now I am getting an `no basic auth credentials` error. I am able to successfully login using a bash command, and I've verified that the `.docker/config.json` file contains the correct auth credentials.

Seems like a common aws error, but with the current login I've got, it works with the [transmode/gradle-docker](https://github.com/

[2018-06-26 21:12] gesellix commented on #68
I assume you meant that the config file contains the base64 encoded credentials and you haven't found the `credsStore` property. Existing base64 encoded credentials would also imply that they appear under the `aws_account_id.dkr.ecr.region.amazonaws.com` hostname key. Am I correct? I only want to ensure that we're talking about the same config :)

You could help debug the issue by printing the dec

[2018-06-26 21:16] gesellix commented on #68
Ah. Wait. I just might have found the issue - is this the real code snippet of your build script?

[code]

The first parameter to `readAuthConfig` should be a hostname and not the image name. So, please ensure that it looks like this:

[code]

And another hint: you can omit the second parameter, because the DockerClient should then try to find the default config file.

[2018-06-29 15:24] jmorales2718 commented on #68
We tried the fix you suspected above and unfortunately it did not work. I'm pretty perplexed as to why this error occurs, but for the time being we have decided to push images with a simple execute shell. So we will not use any plugin to push.

Do you actually need to test this case still or were you just helping me?

[2018-06-29 19:33] gesellix commented on #68
Did you try to log the credentials and did they look like expected? I would be interested to know whether the decryption of credentials fails or the actual push to the remote registry.

Both ;)

The Gradle plugin (and its underlying Docker client) aim at being a valid and fully compatible alternative to the native Docker client, so I would like to see this issue fixed. I don't have access to AWS E

[2018-06-29 19:38] gesellix commented on #68
leaving a note to myself here:

- https://docs.aws.amazon.com/AmazonECR/latest/userguide/docker-push-ecr-image.html
- https://docs.aws.amazon.com/AmazonECR/latest/userguide/Registries.html#registry_auth

[2019-02-15 14:13] gesellix opened #73 "DockerBuildTask can't be configured via setters"
When configuring the DockerBuildTask via closure, the `configure()` method will ensure that a `tarOfBuildcontextTask` is created, dependent on a user-configured build context directory.
When configuring the DockerBuildTask via task property setters, the `configure()` method won't be called, which results in a missing `tarOfBuildcontextTask`:

[code]

[2019-02-15 21:19] #73 closed

[2019-02-16 10:53] gesellix opened #75 "Build fails when using junixsocket 2.1.2"
The build fails with this exception: https://github.com/kohlschutter/junixsocket/blob/6b88c5f8aa65b9f0f77b6e4880c521ee09a176f5/junixsocket-common/src/main/java/org/newsclub/net/unix/AFUNIXSocket.java#L54

Stacktrace:

[code]

[2019-02-17 11:56] gesellix commented on #75
It seems like the way the integrative tests are performed makes triggers the issue.

1. Tests are filtered/activated using `@Requires({ LocalDocker.available() })`
2. The actual test run is performed via GradleRunner in another thread

Both 1. and 2. check `AFUNIXSocket.isSupported()`, which internally tries `new NativeLibraryLoader().loadLibrary()`.

[2019-02-17 12:29] gesellix commented on #75
This one works without issues:

[code]

[2019-02-17 12:30] gesellix commented on #75
--> does using the GradleRunner break anything?

[2019-02-17 23:13] gesellix commented on #75
See https://github.com/gesellix/gradle-testkit-junixsocket-issue for a reproducible test and https://github.com/kohlschutter/junixsocket/issues/60 for a discussion

junixsocket 2.2.0 fixes the issue

[2019-02-17 23:13] #75 closed

[2019-03-23 11:48] gesellix commented on #45
Closing, some patterns have been applied - more to come.

[2019-03-23 11:48] #45 closed

[2019-03-26 12:26] gesellix commented on #67
Hey, that's probably a bit late, but I'd like to know whether you're working with LCOW or with Windows Containers. Your example would suggest the LCOW variant, correct?

[2019-03-26 14:31] ecsousa commented on #67
Hi. I wasn't using LCOW at that time; it was the Docker for Windows, using standard Linux containers. But the fix should be the same, and paths formats are equal.

[2019-03-26 17:38] gesellix commented on #67
Alright, then you might want to give the current release a try (in case you're still using it ;) ): https://plugins.gradle.org/plugin/de.gesellix.docker

Thanks for the quick feedback!

[2019-03-26 17:38] #67 closed

[2019-03-26 17:45] gesellix opened #77 "Add support for Windows containers"
See #67: Mounting host paths using the `DockerContainerTask` didn't work with Linux Containers on Windows. The issue has been fixed, but Windows Containers on Windows are still not supported when using the `DockerContainerTask`.

Other tasks and options might also need some tweaks before they're fully compatible when working with Windows Containers on Windows.

Related: https://docs.microsoft.com/

[2020-08-04 10:37] gesellix opened #82 "Fix task property validation warnings"
[code]

[2020-08-11 21:09] #82 closed

[2020-09-16 16:32] witcold opened #86 "Multiple DockerPublishTask's in build file"
Hi,

I'm trying to create two Gradle tasks to build Docker images for development and release purposes, so I came up with something like this:
[code]

However, when I try to run `buildRelease` task, I get an image with `-snapshot` suffix. And vice versa, if I swap the tasks and run `buildSnapshot`, I will get an image without suffix.

I'm not sure if this is an issue with the plugin itself or rath

[2020-09-19 11:33] gesellix commented on #86
This looks much like an issue with the plugin, I'll need to investigate.

[2020-10-03 09:48] #86 closed

[2020-10-03 09:51] gesellix commented on #86
@witcold please give the new release `2020-10-03T11-49-08` a try. Thanks a lot for your bug report!

[2021-04-07 14:48] gesellix commented on #68
I can confirm that a push to the AWS ECR works with the config below, given the Docker Engine is logged in. The example pushes to both Docker Hub and AWS ECR.

[code]

[code]

[2021-04-07 14:49] gesellix commented on #68
Closing because it works. In case you still have issues, please leave a note here or create a new issue!

[2021-04-07 14:49] #68 closed

[2021-04-07 15:00] gesellix commented on #48
Push to an arbitray registry should work, see https://github.com/gesellix/gradle-docker-plugin/issues/68#issuecomment-814976585 for a real life example.

[2021-08-08 10:37] gesellix commented on #47
The `DockerContainerTask` is being removed with the next release.

[2021-08-08 10:37] #47 closed

[2021-08-08 10:38] gesellix commented on #44
The `DockerContainerTask` is being removed with the next release.

[2021-08-08 10:38] #44 closed

[2021-08-08 10:39] gesellix commented on #6
The `DockerContainerTask` and `DockerPublishTask` are being removed with the next release. A custom or more opinionated plugin can be implemented on top of this one. See #128 for details.

[2021-08-08 10:39] #6 closed

[2021-08-08 10:40] gesellix commented on #77
The `DockerContainerTask` is being removed with the next release. See #128 for details.

[2021-08-08 10:40] #77 closed

[2021-08-11 05:26] gamma opened #134 "Build Arguments for DockerBuildTask"
I haven't found a hint on how to add build arguments to the DockerBuildTask. Specifically I want to add `--build-arg constraint:ostype==linux` since my endpoint supports both, windows and linux.

Can you please point me into the correct direction?

[2021-08-12 04:37] gamma opened #135 "Logfile from container"
I'm using this cradle-docker-plugin for several years now, but I'm missing the `log` command to fetch the containers output for local storage.

It'd be great to have it added.

[2021-08-15 09:38] gesellix commented on #134
There's no dedicated task parameter (yet). If you have a quick look at the [api documentation](https://docs.docker.com/engine/api/v1.41/#operation/ImageBuild), you'll see the relevant _query_ parameter `buildargs`, which expects a JSON encoded Map. So, you have to use the `buildParams` property of the DockerBuildTask like this:

[code]

[2021-08-15 09:42] gesellix commented on #135
Would you like to create a pull request, maybe only a draft? Fetching logs (without "following" them) should be quite simple to implement. You might simply copy/paste from similar tasks like `DockerRestartTask`.

I won't promise any time range, maybe I'll find some free time to implement it myself, maybe you're faster :)

[2021-08-15 09:47] gamma commented on #134
Thanks very much! 👍

[2021-08-15 09:49] gamma commented on #135
I had a look into the api and tried an ad-hoc task in my gradle script, which did not work out.

I'll check an implementation when I find some time for it in the next week. Shouldn't be too hard 🤣

Thanks for the heads up.

[2022-01-17 20:48] gesellix commented on #135
Hey @gamma, I've just merged a new `DockerLogsTask`, but cannot cut a release just yet. If you don't want to wait for a proper release, you may build the plugin locally, based on the current `main` branch.

[2022-01-29 20:01] gesellix commented on #135
The plugin containing the log task has been released: https://plugins.gradle.org/plugin/de.gesellix.docker/2022-01-29T20-50-00

[2022-01-29 20:01] #135 closed

[2022-02-07 15:50] gesellix opened #195 "DockerBuildTask errors should make the task fail"

[2022-02-07 20:44] #195 closed

[2022-02-26 22:41] #134 closed

[2022-07-21 11:51] schmidthappens opened #244 "Using -v for run command in order to mount to the host system"
Hi @gesellix,

is it possible to add additional options to the `run`-task like `-v`?
What I would like to achieve is to let a container start where some tests using Testcontainer will run. Therefore I need to make something like this

`docker run -v /var/run/docker.sock:/var/run/docker.sock -ti someimage:latest`

[2022-07-21 13:16] gesellix commented on #244
Hey @schmidthappens :)

yes that should be possible using the HostConfig like in the example at https://github.com/gesellix/gradle-docker-plugin-example/blob/bba3cd8a224625e1a0134bfb940fd485f8f0f2fc/run-with-data-volume/build.gradle.kts#L19

I'm aware that the syntax might feel clunky (it's the bare Docker api), but it should work just like the cli `--volume` option. Please leave some feedback if

[2022-07-22 08:42] schmidthappens commented on #244
Works like a charm ❤️ Thank you

![ty](https://user-images.githubusercontent.com/57909250/180400369-cad52de6-7ac1-41d7-95e1-5ffd166a5a11.gif)

[2022-07-22 08:42] #244 closed

[2022-07-22 08:49] gesellix commented on #244
Great :)